*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navHeader{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0 20px;
    border: 1px solid black;
    padding: 5px;
    padding-right: 50px;
    
}

ul{
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
    line-height:3;
    transition: .5s;
    transform: translate(-120%);
    width: 200px;
}
li {
    border: 2px solid black;
    padding-left: 20px;
}
a {
    text-decoration: none;
    color: black;
}

.visible{
    transform: translate(0.1%);
}